
<div class="row">
    Search Name: <input class="form-control" [(ngModel)]="listFilteredValue" > <br>

    @for(item of filterproduct ; track item.id){
    <div  [routerLink]="['/product', item.id]"
    [appProductCard]= "shadowBorde" 
    defaultshadow ='10px 10px 10px 10px red' 
 
    class="col-sm-3 mb-4 mt-4">
        <img src={{item.image}} class="img-fluid" > 
        <h4 >{{item.name }}</h4>
        <h5>{{item.category}}</h5>
        <h4 [style.color]="item.price < 200 ?'green': 'black'"> price: {{item.price | currency}}</h4>
        <h3 [class.bg-warning]="item.quantity == 1"
            [class.bg-white]="item.quantity >1"
        >
        <!-- {{item.quantity}} -->
    @switch (item.quantity){
        @case(1) {last one item} 
        @case (0) {out of stock}
        @case (2) {last two items}
        @default {in stock : {{item.quantity}}}
    }
    </h3>
        
        <button class="btn btn-success" [disabled]="item.quantity == 0" (click)="addToCart(item)" (click)="decreaseQuantity(item)">
            Add to Cart <i class="fa-solid fa-cart-shopping"></i>
          </button><br><br>
          <button class="btn btn-success ms-1" (click)="decreaseQuantity(item)" (click)="addToCart(item)" [disabled]="item.quantity == 0">
            Buy  <i class="fa-solid fa-bag-shopping"></i> </button>
            </div>
          

}

@empty{
    <h2> No Products Founded </h2>
}
</div>

<br><hr>
<div>
  
    <h1>Store Name: {{store1.name}}</h1>
    <h4>Branches: {{store1.branches}}</h4>
    <!-- <img src="{{store1.logo}}" width="150" height="150"><br><br> -->
    <img *ngIf="IsPurshased" src="{{store1.logo}}" width="150" height="150"><br>
    <h3 *ngIf="!IsPurshased">Thanks for purchasing from our store, {{ClientName}}<i class="fa-solid fa-heart"></i><br>{{PurchasedDay | date:"short"}} </h3>
    <button class="btn btn-success" (click)="toggleImage()">Buy <i class="fa-solid fa-bag-shopping"></i></button>
    <!-- <h3 > product data</h3>
    <h5>product id: {{product1.id}}</h5>
    <h5>product name: {{product1.name}}</h5>
    <h5>product Quentity: {{product1.quantity}}</h5>
    <h5>product price: {{product1.price}}</h5>
    <h5>logo: <img src="{{product1.img}}" width="100" height="100"></h5>
    <h5>product category: {{product1.categoryId}}</h5> -->
</div><br>

<h4>Credit card format :  {{this.creditcarddata | creditcard}}</h4>

<!-- <div class="container">
    @if(IsPurshased){
    <img src="assets/image1.webp" width="200">
    }
    @if(Isdiv){
        <div class="font-weight-bold text-white bg-dark">Thanks for purchasing from our Store {{ ClientName}}<br>{{PurchasedDay | date}} <i class="fa-solid fa-heart"></i></div>
    }
</div>
<button class="btn btn-success" (click)="toggleImage()">Buy <i class="fa-solid fa-bag-shopping"></i></button> -->

